<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Notes{% endblock %}</title>
    <link href="{% static  'notes/css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <header id="pageHeader">
        <a href="/" id="logo">Notes</a>
        <ul class="menu">
            <li><a href="/create"><span>Create note</span></a></li>
            <li><a href="/"><span>About me</span></a></li>
            <li><a href="#pageFooter"><span>Contact</span></a></li>
        </ul>
    </header>
    <section id="pageContent">
        {% block content %}{% endblock %}
    </section>
    
    <footer id="pageFooter">
        <div class="contact">
            <ul class="menu">
                <li><p class="contact-title"><span>Nurlybek Orynbekov</span></p></li>
                <li><a href="tel:77083682016"><span>+7 (708) 368-20-16</span></a></li>
                <li><a href="mailto:nurlybek.dev@gmail.com"><span>nurlybek.dev@gmail.com</span></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>