#pageFooter {
    grid-area: footer;

    .contact{
        &-title {
            font-size: 24px;
        }

        .menu {
            padding: 40px 0;
            margin-bottom: 10px;
            border-bottom: none;
            -webkit-backface-visibility: hidden;
            -webkit-transition: 200ms all;

            li {
                width: 300px;
    
                &:hover {
                    width: 350px;
                }
            }
        }
    }
}
