form {
    margin: 0 auto;
    border: 1px solid black;
    padding: 5px;
    width: 250px;

    .field-wrapper {
        .form-field {
            text-align: center;
            box-sizing: border-box;
            width: 100%;
            border: none;
            resize: none;
        }
        #id_title {
            font-size: 24px;
            border-bottom: 1px solid black;
            margin-bottom: 5px;
        }
        #id_body {
            font-size: 16px;
            font-family: 'Open Sans', cursive;
        }
        #id_author {
            font-size: 14px;
            text-align: right;
        }
    }

    .controls {
        margin-top: 5px;
        text-align: right;
        .form-submit {
            position: relative;
            vertical-align: top;
            width: 100%;
            height: 60px;
            padding: 0;
            font-size: 22px;
            color:white;
            text-align: center;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
            font-family: 'Open Sans', cursive;
            background: #7f8c8d;
            border: 0;
            border-bottom: 2px solid #6d7b7c;
            cursor: pointer;
            box-shadow: inset 0 -2px #6d7b7c;

            &:active {
                top: 1px;
                outline: none;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        }
    }

}

